/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url("https://kit.fontawesome.com/2d4451ea4e.js");

// Bootstrap
@import 'bootstrap/scss/bootstrap';

:root {
    --color-white: #ffffff;
    --color-light: #f1f5f9;
    --color-black: #121212;
    --color-night: #001632;
    --color-primary: #0d0d2b;
    --color-optional: #090919;
    --color-secondary: #f49f00;

    --color-red: #f44336;
    --color-blue: #1a73e8;
    --color-gray: #80868b;
    --color-grayish: #dadce0;

     --bs-accordion-btn-icon: url('../images/accordion-btn-icon.svg') !important;

    --shadow-normal: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

html {
    font-size: 100%;
    font-size-adjust: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--color-primary), var(--bs-bg-opacity)) !important;
    
}

.bg-title-video {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--color-optional), var(--bs-bg-opacity)) !important;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: var(--color-white);
    background: var(--color-primary);
}

a {
    color: #f49f00;
    text-decoration: underline;
}

.accordion-body{
    padding: 0;
}

.accordion{
    --bs-accordion-bg: var(--color-optional) !important;
    --bs-accordion-btn-icon: url('../images/accordion-btn-icon.svg') !important;
    --bs-accordion-border-color: var(--color-optional) !important;
}

.accordion-button:not(.collapsed) {
    background-color: var(--color-optional) !important;
    box-shadow: none !important;
}

.accordion-button:not(.collapsed)::after {
     --bs-accordion-btn-icon: url('../images/accordion-btn-icon.svg') !important;
     background-image: var(--bs-accordion-btn-active-icon) !important;
}


.list-group-item.active {
    border-color: var(--color-optional) !important;
    background-color: var(--color-optional) !important;
}

.list-group-item { 
    color: #ffffff !important;
    background-color: var(--color-optional) !important;
}

.accordion-button {
    color: #ffffff !important;
}

.list-group {
    border-radius: 0;
}

.table> :not(caption)>*>* {
    color: #fff;
}

.card-title {
    text-align: center;
    padding: 1%;
    width: 40%;
    background-color: #f49f00;
}


// Main
.main {
    .wrapper {
        max-width: 28rem;
        width: 100%;
        margin: 2rem auto;
        padding: 2rem 2.5rem;
        border: none;
        outline: none;
        border-radius: 0.25rem;
        color: var(--color-black);
        background: var(--color-white);
        box-shadow: var(--shadow-large);

        .form {
            width: 100%;
            height: auto;
            margin-top: 2rem;

            .input-control {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 1.25rem;
            }

            .input-field {
                font-family: inherit;
                font-size: 1rem;
                font-weight: 400;
                line-height: inherit;
                width: 100%;
                height: auto;
                padding: 0.75rem 1.25rem;
                border: none;
                outline: none;
                border-radius: 2rem;
                color: var(--color-black);
                background: var(--color-light);
                text-transform: unset;
                text-rendering: optimizeLegibility;
            }

            .input-submit {
                font-family: inherit;
                font-size: 1rem;
                font-weight: 500;
                line-height: inherit;
                cursor: pointer;
                min-width: 40%;
                height: auto;
                padding: 0.65rem 1.25rem;
                border: none;
                outline: none;
                border-radius: 2rem;
                color: var(--color-white);
                background: var(--color-secondary);
                box-shadow: var(--shadow-medium);
                text-transform: capitalize;
                text-rendering: optimizeLegibility;
            }
        }

        .striped {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 1rem 0;

            &-line {
                flex: auto;
                flex-basis: auto;
                border: none;
                outline: none;
                height: 2px;
                background: var(--color-grayish);
            }

            &-text {
                font-family: inherit;
                font-size: 1rem;
                font-weight: 500;
                line-height: inherit;
                color: var(--color-black);
                margin: 0 1rem;
            }
        }

        .method {
            &-control {
                margin-bottom: 1rem;
            }

            &-action {
                font-family: inherit;
                font-size: 0.95rem;
                font-weight: 500;
                line-height: inherit;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;
                padding: 0.35rem 1.25rem;
                outline: none;
                border: 2px solid var(--color-grayish);
                border-radius: 2rem;
                color: var(--color-black);
                background: var(--color-white);
                text-transform: capitalize;
                text-rendering: optimizeLegibility;
                transition: all 0.35s ease;

                &:hover {
                    background: var(--color-light);
                }
            }
        }
    }
}

.button-right {
    float: right;
    right: 0;
    position: absolute;
}

@media screen and (max-width: 720px) { 
    .button-right {
         float: left;
         position: inherit;
    }
    .button-logout {
        padding: 0;
    }
}


.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: #d5d5d5 !important
}


/* Header */

.header {
    position: relative;
    padding: 1rem 3rem 0rem;
    background-color: var(--color-primary);
}

.background-item-1 {
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 50%;
    z-index: 0;
    pointer-events: none;
}

.background-item-2 {
    width: 50%;
    position: absolute;
    bottom: 10%;
    right: 5%;
    pointer-events: none;
}

.btc-illustration {
    display: none;
}

@media screen and (min-width: 1024px) {
    .header {
        padding: 0rem 12rem 0rem;
    }
}

@media screen and (min-width: 768px) {
    .btc-illustration {
        display: block;
    }
}

/* Header Top */

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__top ul {
    margin-right: 5.6rem;
}

.header__top>nav {
    display: none;
}

.vertical-line {
    height: 2.4rem;
    width: 1px;
    background-color: var(--color-grey-6);
    margin: 0 2.4rem;
}

.header__top .logo {
    display: flex;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    .header__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header__top>nav {
        display: flex;
        align-items: center;
    }
}

/* Header Body */

.header__body {
    text-align: center;
}

.value-proposition .badge-container {
    margin-bottom: 2rem;
}

.value-proposition__title {
    margin-bottom: 2rem;
}

.value-proposition__text {
    margin-bottom: 3.2rem;
}


@media screen and (max-width: 720px) { 
    .card-title {
        width: 100%;
    }
}
@media screen and (min-width: 768px) {
    .header__body {
        text-align: start;
    }   
}

@media screen and (min-width: 1024px) {
    .header__body {
        text-align: start;
    }

    .value-proposition__title {
        width: 18ch;
    }

    .value-proposition__text {
        width: 40ch;
    }

    .value-proposition__button {
        width: 20rem;
    }
}

/* Lists */

a {
    color: var(--color-white);
}

a:hover {
    color: var(--color-accent);
}

.list {
    display: contents;
}

.list .list__item {
    line-height: 38px;
    cursor: pointer;
}

.list__item:hover {
    color: var(--color-accent);
}

.list--inline .list__item {
    display: inline;
    margin-right: 32px;
}

/* Buttons */

.btn {
    padding: 1rem 1.3rem;
    border: 0;
    outline: none;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
    cursor: pointer;
}

.btn--accent {
    background-color: var(--color-accent);
    color: var(--color-white);
}

.btn--accent:hover {
    background-color: var(--color-accent-hover);
}

.btn--link {
    padding: 0;
    background-color: transparent;
    color: var(--color-white);
}

.btn--link:hover {
    color: var(--color-accent-hover);
}

.btn--white {
    background-color: var(--color-white);
    color: var(--color-primary);
}

.btn--white:hover {
    background-color: black;
    color: white;
}

.btn--flex {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn--block {
    display: block;
    width: 100%;
}

/* Typography */ 

h1,
h2,
h3 {
    font-weight: bold;
    line-height: 1.5;
}

h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.8rem;
}

.title {
    font-weight: medium;
    font-size: 2.8rem;
    line-height: 1.5;
}

.title--small {
    font-size: 1.6rem;
    letter-spacing: 4;
}

.text {
    font-size: 2rem;
    line-height: 1.5;
}

.text--regular {
    font-weight: 400;
}

.text--medium {
    font-weight: medium;
}

.text--standart {
    font-size: 1.8rem;
}

.text--small {
    font-size: 1rem;
    line-height: 1.8;
    letter-spacing: 1;
}

.text--white {
    color: var(--color-white);
}

.text--muted {
    color: var(--color-grey-6);
}

.text--grey {
    color: var(--color-grey-3);
}

.text--accent {
    color: var(--color-accent);
}

.text--primary {
    color: var(--color-primary);
}

.text--left {
    text-align: left;
}


.text--uppercase {
    text-transform: uppercase;
}

@media screen and (min-width: 850px) {
    h1 {
        font-size: 4.6rem;
    }

    h2 {
        font-size: 3.8rem;
    }

    h3 {
        font-size: 3.2rem;
    }

    .title {
        font-size: 3.2rem;
    }
}

@media screen and (min-width: 1350px) {
    h1 {
        font-size: 6.4rem;
    }

    h2 {
        font-size: 4rem;
    }
}

/* Links */

a {
    text-decoration: none;
}

.link {
    color: var(--color-grey-6);
}
