/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url("https://kit.fontawesome.com/2d4451ea4e.js");

// Bootstrap
@import 'bootstrap/scss/bootstrap';

:root {
    --color-white: #ffffff;
    --color-light: #f1f5f9;
    --color-black: #121212;
    --color-night: #001632;
    --color-primary: #0d0d2b;
    --color-secondary: #f49f00;

    --color-red: #f44336;
    --color-blue: #1a73e8;
    --color-gray: #80868b;
    --color-grayish: #dadce0;

     --bs-accordion-btn-icon: url('../images/accordion-btn-icon.svg') !important;

    --shadow-normal: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

html {
    font-size: 100%;
    font-size-adjust: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: var(--color-white);
    background: var(--color-primary);
}


.accordion-body{
    padding: 0;
}

.accordion{
    --bs-accordion-bg: #212529 !important;
    --bs-accordion-btn-icon: url('../images/accordion-btn-icon.svg') !important;
    --bs-accordion-border-color: #383838 !important;
}

.accordion-button:not(.collapsed) {
    background-color: #212529 !important;
    box-shadow: none !important;
}

.accordion-button:not(.collapsed)::after {
     --bs-accordion-btn-icon: url('../images/accordion-btn-icon.svg') !important;
     background-image: var(--bs-accordion-btn-active-icon) !important;
}


.list-group-item.active {
    border-color: #393c3e !important;
    background-color: #4c4c4d !important;
}

.list-group-item { 
    color: #ffffff !important;
    background-color: #383838 !important;
}

.accordion-button {
    color: #ffffff !important;
}

.list-group {
    border-radius: 0;
}